@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card: #ffffff;
  /* background-color: #fafaff; */
  background-color: #151218;
  font-family: "Poppings", sans-serif;
  color: #fafaff;
}

.bg-column-list {
  background-color: #3f3d45;
}
.bg-column-list-items {
  background-color: #56545e;
}

.bg-card-task {
  background-color: #151218;
}

.btn-plomo-primary {
  background-color: #908ada;
}

.svg-btn {
  height: 28px;
  width: 28px;
}

.scrollbar-thin::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: rgba(100, 116, 139, 0.4);
}
